body {
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

header {
    margin-bottom: 1.5em;
    border-bottom: 1px dotted #ccc;
}

.navbar-brand img {
    height: 35px;
    margin-top: -7px;
}

.linktitle {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 1em 4px 1em;
}

h3.alignTop {
    margin-top: 0;
}

.panel-footer {
    text-align: center;
}

p {
    margin-bottom: 0.75em;
}

a, a:active {
    color: #666;
}

a:visited, a:hover {
    color: #888;
}

h1 a, h1 a:active, h1 a:visited, h1 a:hover,
a.footnote, a.footnote:active, a.footnote:visited, a.footnote:hover {
    color: #444;
    text-decoration: none;
}

blockquote {
    padding-left: 2em;
    border-left: 1px solid #ccc;
    color: #555;
    font-weight: 200;
}

dd {
    padding: 2px 0 2px 1em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    clear: both;
    font-size: 8pt;
    position: relative;
    padding-top: 1em;
    border-top: 1px dotted #ccc;
}
footer div {
    position: relative;
    margin-top: 3em;
}

section > svg {
    max-width: 100%;
    margin: 0 auto;
    display: block
}

pre, code {
    font-family: "Ubuntu Mono", monospace;
}

.pageLinksContainer {
    text-align: center;
}

.pageLink {
    display: inline-block;
    width: 2em;
}

.pageLink.active {
    font-weight: bold;
    text-decoration: none;
}

.pageLink.disabled {
    text-decoration: none;
    color: #ccc;
}

.item {
    padding: 0.5em;
}

.item.odd {
    background-color: #ddd;
}

.item.even {
    background-color: #eee;
}

.item .itemType {
    font-size: 75%;
}

.pagination {
    position: relative;
    padding-bottom: 1em;
}

.pagination.bottom {
    border-top: 1px dotted #ccc;
}
.pagination.top {
    margin-top: -1em;
}

.pagination a.next {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.pagination a.previous {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

#post {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em !important;
}

#post img {
    max-width: 100%;
    margin: 0 auto;
}

#comments {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

#wcgraph {
    max-height: 130px;
    overflow: auto;
}

#wcgraph .entry-label {
    display: inline-block;
    width: 85px;
}

#wcgraph .entry-bar {
    display: inline-block;
    background-color: #888;
    border: 1px solid #fff;
    padding: 0 2px 2px 0;
    color: #fff;
    text-align: right;
    clear: right;
}

.highlight .c     { color: #998; font-style: italic }
.highlight .err   { color: #a61717; background-color: #e3d2d2 }
.highlight .k     { font-weight: bold }
.highlight .o     { font-weight: bold }
.highlight .cm    { color: #998; font-style: italic }
.highlight .cp    { color: #999; font-weight: bold }
.highlight .c1    { color: #998; font-style: italic }
.highlight .cs    { color: #999; font-weight: bold; font-style: italic }
.highlight .gd    { color: #000; background-color: #fdd }
.highlight .gd .x { color: #000; background-color: #faa }
.highlight .ge    { font-style: italic }
.highlight .gr    { color: #a00 }
.highlight .gh    { color: #999 }
.highlight .gi    { color: #000; background-color: #dfd }
.highlight .gi .x { color: #000; background-color: #afa }
.highlight .go    { color: #888 }
.highlight .gp    { color: #55a }
.highlight .gs    { font-weight: bold }
.highlight .gu    { color: #aaa }
.highlight .gt    { color: #a00 }
.highlight .kc    { font-weight: bold }
.highlight .kd    { font-weight: bold }
.highlight .kp    { font-weight: bold }
.highlight .kr    { font-weight: bold }
.highlight .kt    { color: #458; font-weight: bold }
.highlight .m     { color: #099 }
.highlight .s     { color: #d14 }
.highlight .na    { color: #008080 }
.highlight .nb    { color: #0086B3 }
.highlight .nc    { color: #458; font-weight: bold }
.highlight .no    { color: #008080 }
.highlight .ni    { color: #800080 }
.highlight .ne    { color: #900; font-weight: bold }
.highlight .nf    { color: #900; font-weight: bold }
.highlight .nn    { color: #555 }
.highlight .nt    { color: #000080 }
.highlight .nv    { color: #008080 }
.highlight .ow    { font-weight: bold }
.highlight .w     { color: #bbb }
.highlight .mf    { color: #099 }
.highlight .mh    { color: #099 }
.highlight .mi    { color: #099 }
.highlight .mo    { color: #099 }
.highlight .sb    { color: #d14 }
.highlight .sc    { color: #d14 }
.highlight .sd    { color: #d14 }
.highlight .s2    { color: #d14 }
.highlight .se    { color: #d14 }
.highlight .sh    { color: #d14 }
.highlight .si    { color: #d14 }
.highlight .sx    { color: #d14 }
.highlight .sr    { color: #009926 }
.highlight .s1    { color: #d14 }
.highlight .ss    { color: #990073 }
.highlight .bp    { color: #999 }
.highlight .vc    { color: #008080 }
.highlight .vg    { color: #008080 }
.highlight .vi    { color: #008080 }
.highlight .il    { color: #099 }
