body {
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    color: #222;
}
body.inverse {
    color: #eee;
    background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

header {
    margin-bottom: 1.5em;
    border-bottom: 1px dotted #ccc;
}

.navbar-brand img {
    height: 35px;
    margin-top: -7px;
}

.navbar-inverse .dropdown-menu {
    background-color: #222;
}

.linktitle {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 1em 4px 1em;
}

h3.alignTop {
    margin-top: 0;
}

.donate {
    vertical-align: middle;
    height: 100px;
}

.panel-footer {
    text-align: center;
}

.post-entry {
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-bottom: 1px solid #888;
}
.post-entry:last-of-type {
    border-bottom: none;
}
.post-entry img, .container img {
    max-width: 100%;
}

p {
    margin-bottom: 0.75em;
}

a, a:active {
    color: #666;
}
body.inverse a, body.inverse a:active {
    color: #aaa;
}

a:visited, a:hover {
    color: #888;
}
body.inverse a:visited, body.inverse a:hover {
    color: #ccc;
}

h1 a, h1 a:active, h1 a:visited, h1 a:hover,
a.footnote, a.footnote:active, a.footnote:visited, a.footnote:hover {
    color: #444;
    text-decoration: none;
}

blockquote {
    padding-left: 2em;
    border-left: 1px solid #ccc;
    color: #555;
    font-weight: 200;
}
body.inverse blockquote {
    color: #aaa;
    border-left: 1px solid #555;
}

.verse {
    white-space: pre-wrap;
}

body.inverse .panel {
    border-color: #444;
}
body.inverse .panel-heading {
    background-image: linear-gradient(to bottom, #333 0,#222 100%);
    color: #ccc;
}
body.inverse .panel-body {
    background-color: #222;
}
body.inverse .panel-footer {
    background-color: #333;
}

dd {
    padding: 2px 0 2px 1em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    clear: both;
    font-size: 8pt;
    position: relative;
    padding-top: 1em;
    border-top: 1px dotted #ccc;
}
footer div {
    position: relative;
    margin-top: 3em;
}

section > svg {
    max-width: 100%;
    margin: 0 auto;
    display: block
}

pre, code {
    font-family: "Ubuntu Mono", monospace;
}
body.inverse pre, body.inverse code {
    color:#fdce93;
    background-color:#3f3f3f;
}

.pageLinksContainer {
    text-align: center;
}

.pageLink {
    display: inline-block;
    width: 2em;
}

.pageLink.active {
    font-weight: bold;
    text-decoration: none;
}

.pageLink.disabled {
    text-decoration: none;
    color: #ccc;
}

.item {
    padding: 0.5em;
}

.item.odd {
    background-color: #ddd;
}

.item.even {
    background-color: #eee;
}

.item .itemType {
    font-size: 75%;
}

.serial {
    position: relative;
    padding-bottom: 1em;
}

.serial.bottom {
    border-top: 1px dotted #ccc;
}
.serial.top {
    margin-top: -1em;
}

.serial .next {
    text-align: right;
}

#post {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em !important;
}

#post img {
    max-width: 100%;
    margin: 0 auto;
}

#comments {
    border-top: 1px solid #ccc;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

#wcgraph {
    max-height: 130px;
    overflow: auto;
}

#wcgraph .entry-label {
    display: inline-block;
    width: 85px;
}

#wcgraph .entry-bar {
    display: inline-block;
    background-color: #888;
    border: 1px solid #fff;
    padding: 0 2px 2px 0;
    color: #fff;
    text-align: right;
    clear: right;
}

.highlight .c     { color: #998; font-style: italic }
.highlight .err   { color: #a61717; background-color: #e3d2d2 }
.highlight .k     { font-weight: bold }
.highlight .o     { font-weight: bold }
.highlight .cm    { color: #998; font-style: italic }
.highlight .cp    { color: #999; font-weight: bold }
.highlight .c1    { color: #998; font-style: italic }
.highlight .cs    { color: #999; font-weight: bold; font-style: italic }
.highlight .gd    { color: #000; background-color: #fdd }
.highlight .gd .x { color: #000; background-color: #faa }
.highlight .ge    { font-style: italic }
.highlight .gr    { color: #a00 }
.highlight .gh    { color: #999 }
.highlight .gi    { color: #000; background-color: #dfd }
.highlight .gi .x { color: #000; background-color: #afa }
.highlight .go    { color: #888 }
.highlight .gp    { color: #55a }
.highlight .gs    { font-weight: bold }
.highlight .gu    { color: #aaa }
.highlight .gt    { color: #a00 }
.highlight .kc    { font-weight: bold }
.highlight .kd    { font-weight: bold }
.highlight .kp    { font-weight: bold }
.highlight .kr    { font-weight: bold }
.highlight .kt    { color: #458; font-weight: bold }
.highlight .m     { color: #099 }
.highlight .s     { color: #d14 }
.highlight .na    { color: #008080 }
.highlight .nb    { color: #0086B3 }
.highlight .nc    { color: #458; font-weight: bold }
.highlight .no    { color: #008080 }
.highlight .ni    { color: #800080 }
.highlight .ne    { color: #900; font-weight: bold }
.highlight .nf    { color: #900; font-weight: bold }
.highlight .nn    { color: #555 }
.highlight .nt    { color: #000080 }
.highlight .nv    { color: #008080 }
.highlight .ow    { font-weight: bold }
.highlight .w     { color: #bbb }
.highlight .mf    { color: #099 }
.highlight .mh    { color: #099 }
.highlight .mi    { color: #099 }
.highlight .mo    { color: #099 }
.highlight .sb    { color: #d14 }
.highlight .sc    { color: #d14 }
.highlight .sd    { color: #d14 }
.highlight .s2    { color: #d14 }
.highlight .se    { color: #d14 }
.highlight .sh    { color: #d14 }
.highlight .si    { color: #d14 }
.highlight .sx    { color: #d14 }
.highlight .sr    { color: #009926 }
.highlight .s1    { color: #d14 }
.highlight .ss    { color: #990073 }
.highlight .bp    { color: #999 }
.highlight .vc    { color: #008080 }
.highlight .vg    { color: #008080 }
.highlight .vi    { color: #008080 }
.highlight .il    { color: #099 }

body.inverse .highlight code, body.inverse .highlight pre {
color:#fdce93;
background-color:#3f3f3f;
}

body.inverse .highlight .hll {
background-color:#222;
}

body.inverse .highlight .err {
color:#e37170;
background-color:#3d3535;
}

body.inverse .highlight .k {
color:#f0dfaf;
}

body.inverse .highlight .p {
color:#41706f;
}

body.inverse .highlight .cs {
color:#cd0000;
font-weight:700;
}

body.inverse .highlight .gd {
color:#cd0000;
}

body.inverse .highlight .ge {
color:#ccc;
font-style:italic;
}

body.inverse .highlight .gr {
color:red;
}

body.inverse .highlight .go {
color:gray;
}

body.inverse .highlight .gs {
color:#ccc;
font-weight:700;
}

body.inverse .highlight .gu {
color:purple;
font-weight:700;
}

body.inverse .highlight .gt {
color:#0040D0;
}

body.inverse .highlight .kc {
color:#dca3a3;
}

body.inverse .highlight .kd {
color:#ffff86;
}

body.inverse .highlight .kn {
color:#dfaf8f;
font-weight:700;
}

body.inverse .highlight .kp {
color:#cdcf99;
}

body.inverse .highlight .kr {
color:#cdcd00;
}

body.inverse .highlight .ni {
color:#c28182;
}

body.inverse .highlight .ne {
color:#c3bf9f;
font-weight:700;
}

body.inverse .highlight .nn {
color:#8fbede;
}

body.inverse .highlight .vi {
color:#ffffc7;
}

body.inverse .highlight .c,.preview-zenburn body.inverse .highlight .g,.preview-zenburn body.inverse .highlight .cm,.preview-zenburn body.inverse .highlight .cp,.preview-zenburn body.inverse .highlight .c1 {
color:#7f9f7f;
}

body.inverse .highlight .l,.preview-zenburn body.inverse .highlight .x,.preview-zenburn body.inverse .highlight .no,.preview-zenburn body.inverse .highlight .nd,.preview-zenburn body.inverse .highlight .nl,.preview-zenburn body.inverse .highlight .nx,.preview-zenburn body.inverse .highlight .py,.preview-zenburn body.inverse .highlight .w {
color:#ccc;
}

body.inverse .highlight .n,.preview-zenburn body.inverse .highlight .nv,.preview-zenburn body.inverse .highlight .vg {
color:#dcdccc;
}

body.inverse .highlight .o,.preview-zenburn body.inverse .highlight .ow {
color:#f0efd0;
}

body.inverse .highlight .gh,.preview-zenburn body.inverse .highlight .gp {
color:#dcdccc;
font-weight:700;
}

body.inverse .highlight .gi,.preview-zenburn body.inverse .highlight .kt {
color:#00cd00;
}

body.inverse .highlight .ld,.preview-zenburn body.inverse .highlight .s,.preview-zenburn body.inverse .highlight .sb,.preview-zenburn body.inverse .highlight .sc,.preview-zenburn body.inverse .highlight .sd,.preview-zenburn body.inverse .highlight .s2,.preview-zenburn body.inverse .highlight .se,.preview-zenburn body.inverse .highlight .sh,.preview-zenburn body.inverse .highlight .si,.preview-zenburn body.inverse .highlight .sx,.preview-zenburn body.inverse .highlight .sr,.preview-zenburn body.inverse .highlight .s1,.preview-zenburn body.inverse .highlight .ss {
color:#cc9393;
}

body.inverse .highlight .m,.preview-zenburn body.inverse .highlight .mf,.preview-zenburn body.inverse .highlight .mh,.preview-zenburn body.inverse .highlight .mi,.preview-zenburn body.inverse .highlight .mo,.preview-zenburn body.inverse .highlight .il {
color:#8cd0d3;
}

body.inverse .highlight .na,.preview-zenburn body.inverse .highlight .nt {
color:#9ac39f;
}

body.inverse .highlight .nb,.preview-zenburn body.inverse .highlight .nc,.preview-zenburn body.inverse .highlight .nf,.preview-zenburn body.inverse .highlight .bp,.preview-zenburn body.inverse .highlight .vc {
color:#efef8f;
}
