---
layout: base
title: More Than A Few Words

---

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posts</h3>
                    </div>
                    <div class="panel-body">
                        <p>I spend a lot of my time writing, and often it is shorter-form content that comes out somewhere between a blog-post, an journal entry, or an essay on a given topic.  All of these posts are collected here, organized chronologically and filtered into categories.</p>
                        <h3>Recent posts</h3>
                        <ul>
                            {% for post in site.posts limit:5 %}
                            {% unless post.categories contains 'suicide' or post.categories contains 'gendernull' or post.rating contains 'X' %}
                            <li><a href="{{ post.url }}">{{ post.title }}</a> posted in
                            {% for category in post.categories %}{% if category != "posts" %}
                            <a href="/posts/{{ category }}">{{ category }}</a>{% if forloop.last != true %},{% endif %}
                            {% endif %}{% endfor %}
                            on {{ post.date|date_to_string }}
                            {% if post.rating %}<em>Rated: {{ post.rating }}</em>{% endif %}</li>
                            {% endunless %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <p><a href="/posts">Posts</a></p>
                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Long-Form</h3>
                </div>
                <div class="panel-body">
                    <p>Occasionally, what I write will become part of a larger long-form piece.  In that case, they will be posted here in whole, divided up into parts, or posted as a PDF available for download or printing.</p>
                    <h3>Recent pieces</h3>
                    <ul>
                        <li><a href="/long-form/rum-and-coke">Rum and Coke</a></li>
                        <li><a href="/long-form/new-american-absinthe">New American Absinthe</a></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <p><a href="/long-form">Long-Form</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Poetry</h3>
                </div>
                <div class="panel-body">
                    <p>I don't often write poetry.  What I do write, however, will wind up here</p>
                </div>
                <div class="panel-footer">
                    <p><a href="/poetry">Poetry</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Anthologies</h3>
                </div>
                <div class="panel-body">
                    <p>I occasionally edit or publish anthologies of written works.  All of them are listed here.</p>
                    <ul>
                        <li><a href="/anthologies/arcana">Arcana</a> <em>General submissions: closed</em></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <p><a href="/anthologies">Anthologies</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">NaNoWriMo</h3>
                </div>
                <div class="panel-body">
                    <p>National Novel Writing Month takes place every year during November.  The goal is to write at least 50,000 words - about the length of a short novel - during that one month.</p>
                    <h3>NaNoWriMo Pieces</h3>
                    <ul>
                        <li><a href="/nanowrimo/2008">2008: <em>The Consequences of Dissonance</em></a> - 58643/50000 - Abandoned</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <p><a href="/nanowrimo">NaNoWriMo</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Work in progress</h3>
                </div>
                <div class="panel-body">
                    <p>Works in progress - enter at your own peril.</p>
                </div>
                <div class="panel-footer">
                    <p><a href="/work">Work</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
