---
layout: base
title: More Than A Few Words

---

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <img src="http://drab-makyo.com/assets/headshot.jpg" />
        </div>
        <div class="col-md-5">
            <p class="lead">Welcome to the writing home and blog of Madison Scott-Clary.</p>

            <p>I am an author of fiction, non-fiction, and poetry living in the Pacific Northwest. My interests lie in the realms of furry fiction and non-fiction, collaborative fiction, and hypertextual writing. I am a member of the Furry Writers' Guild, and editor for several projects, fiction and non-fiction.</p>

            <p>This site collects several of my written works, as well as blog entries that touch on several topics. When a new standalone work is posted outside of the blog, a blog entry often accompanies it, so feel free to follow the blog feed for pointers to new stories, non-fiction pieces, and poems, as well as works in progress!</p>

            <p><strong><a href="http://makyo.ink">Looking for my writing portfolio?</a></strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h4 class="text-center"><a href="/support">Help support my writing!</a></h4>
            <div class="row well">
                <div class="col-sm-4 text-center donate">
                    <iframe src="/patreon" width="175" height="40" scrolling="no"></iframe>
                </div>
                <div class="col-sm-4 text-center donate">
                    <script src="https://liberapay.com/makyo/widgets/button.js"></script>
                    <noscript>
                        <a href="https://liberapay.com/makyo/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
                    </noscript>
                </div>
                <div class="col-sm-4 text-center donate">
                    <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#808080', 'A6633Y29');kofiwidget2.draw();</script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent posts</h3>
                </div>
                <div class="panel-body">
                    {% for post in site.posts limit:15 %}
                    <div class="post-entry">
                        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a> posted in
                        {% for category in post.categories %}{% if category != "posts" %}
                        <a href="/posts/{{ category }}">{{ category }}</a>{% if forloop.last != true %},{% endif %}
                        {% endif %}{% endfor %}
                        on {{ post.date|date_to_string }}
                        {% if post.rating %}<em>Rated: {{ post.rating }}</em>{% endif %}</p>
                        {{ post.excerpt }}
                        <p class="text-right"><a href="{{ post.url }}">Read more...</a></p>
                    </div>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <h4 class="text-center"><a href="/posts"><em>More posts...</em></a></h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fiction</h3>
                </div>
                <div class="panel-body">
                    <p>I write quite a bit of fiction, which is available on this site wherever possible. Some works are grouped together into larger projects:</p>
                    <ul>
                        <li><a href="/fiction/sawtooth">Sawtooth</a> is a fictional town in Idaho where several of my furry stories take place.</li>
                        <li><a href="/fiction/post-self">Post-Self</a> is a collaborative storytelling universe, taking place in a far future as people explore the ramifications of uploading consciousness</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <p><a href="/fiction">Fiction</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Poetry</h3>
                </div>
                <div class="panel-body">
                    <p>I don't often write poetry. What I do write, however, will wind up here.</p>
                </div>
                <div class="panel-footer">
                    <p><a href="/poetry">Poetry</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Anthologies</h3>
                </div>
                <div class="panel-body">
                    <p>I occasionally edit or publish anthologies of written works. All of them are listed here.</p>
                    <ul>
                        <li><a href="http://anthologies.furrywriting.life/arcana">Arcana</a> <em>Now <a href="http://thurstonhowlpub.storenvy.com/products/22227398-arcana-a-tarot-anthology">for sale</a> from Thurston Howl Publications!</em></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <p><a href="/anthologies">Anthologies</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Publishing</h3>
                </div>
                <div class="panel-body">
                    <p>I've worked in publishing, in one capacity or another, since 2009. You can currently find me editing and publishing here:</p>
                    <ul>
                        <li><a href="http://hybrid.ink">Hybrid Ink, LLC</a> <em>editor-in-chief</em></li>
                        <li><a href="http://adjectivespecies.com">[adjective][species]</a> <em>editor-in-chief</em></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
