@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Ubuntu+Mono|Zilla+Slab:600&display=swap');

/* enforce dark mode */
body {
    background-color: #222;
    color: #eee;
}
img[src*=".svg"] {
    filter: invert(100%);
}
.logo img {
    filter: none;
    border: 2px solid #fff;
}
.pattern [aria-current] {
    background-color: #eee;
    color: #222;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
    padding-left: 1.5rem;
}

/* pagination */
ul.pagination {
    list-style-type: none;
    display: block;
    margin: 1rem auto;
}

ul.pagination li {
    display: inline-block;
    border: 2px solid currentColor;
    padding: 2px;
    min-width: 2rem;
    text-align: center;
    margin-right: -10px;
}

ul.pagination li:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.pagination .page-item.disabled a {
    color: #666;
    border: none;
    cursor: text;
}

ul.pagination .page-item.active a {
    text-decoration: none;
    border: none;
    cursor: text;
}

/* additional fonts */
h1, h2, h3, h4,
#patterns-list {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
}
main {
    font-family: "Gentium Book Basic", serif;
}
pre, code {
    white-space: pre-wrap;
    font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 12pt !important;
    line-height: 1.5 !important;
}
pre[class*="language-"] {
    white-space: pre;
}
.verse {
    white-space: pre-wrap;
    font-family: "Gentium Book Basic", serif;
    font-size: 16pt !important;
    padding: 0;
    border: none;
}
