---
layout: base

---

<article class="container">
    <div class="row">
        <section class="col-md-4">
            <h3 class="alignTop">Categories</h3>
            <ul>
                <li><a href="/posts/fiction">Fiction</a></li>
                <li>
                    <a href="/posts/furry">On Furry</a>
                    <ul>
                        <li><a href="/posts/adjspecies">[adjective][species]</a></li>
                        <li><a href="/posts/lovesexfur">Love &#x25E6; Sex &#x25E6; Fur</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/posts/gender">On Gender</a>
                </li>
                <li><a href="/posts/personal">Personal</a></li>
                <li><a href="/posts/recipes">Recipes</a></li>
                <li><a href="/posts/tasting">Tasting</a></li>
                <li><a href="/posts/tech">Tech</a></li>
            </ul>
        </section>
        <section class="col-md-8">
            {{content}}
            <p><a href="{{ site.url }}{{ page.url|replace:"index.html","feed.xml" }}">RSS</a></p>
        </section>
    </div>
</article>
