---
layout: base

---

<article class="container">
    <div class="row">
        <section class="col-md-4">
            <h3 class="alignTop">Categories</h3>
            <ul>
                <li><a href="/posts/fiction">Fiction</a></li>
                <li>
                    <a href="/posts/furry">On Furry</a>
                    <ul>
                        <li><a href="/posts/adjspecies">[adjective][species]</a></li>
                        <li><a href="/posts/lovesexfur">Love &#x25E6; Sex &#x25E6; Fur</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/posts/gender">On Gender</a>
                </li>
                <li><a href="/posts/personal">Personal</a></li>
                <li><a href="/posts/recipes">Recipes</a></li>
                <li><a href="/posts/tech">Tech</a></li>
            </ul>
            <h3>Recent posts</h3>
            <ul>
                {% for post in site.posts limit:5 %}
                {% unless post.categories contains 'suicide' or post.categories contains 'gendernull' or post.rating contains 'X' %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> posted in
                {% for category in post.categories %}{% if category != "posts" %}
                <a href="/posts/{{ category }}">{{ category }}</a>{% if forloop.last != true %},{% endif %}
                {% endif %}{% endfor %}
                on {{ post.date|date_to_string }}
                {% if post.rating %}<em>Rated: {{ post.rating }}</em>{% endif %}</li>
                {% endunless %}
                {% endfor %}
            </ul>
        </section>
        <section class="col-md-8">
            {{content}}
        </section>
    </div>
</article>
